table, th, td {
  text-align: center;
  border: 1px solid black;
}
table {
  border-collapse: collapse;
  width: 35%;
}
th {
  background-color: #1E90FF;
  height: 35px;
}
td {
height: 25px;
}
tr:hover {background-color: #ddd;}
tr:nth-child(even){background-color: #f2f2f2;}
