* {
    margin: 0;
    padding: 0;
}

.container {

}

header {
    background-color: red;
}

nav {
    background-color: greenyellow;
}

main {
    background-color: lightblue;
}

aside {
    background-color: orange;
}

footer {
    background-color: yellow;
}